.friendItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.avatar {
}

.friendName {
  font-weight: bold;
  font-size: 25px;
  font-weight: normal;
}

.online {
  color: green;
  font-size: 20px;
}

.offline {
  color: red;
  font-size: 20px;
}
