.friendList {
  display: flex;
  gap: 15px;
  margin: 100px auto;
  justify-content: center;
}

.friendListItem {
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
}
