.link {
  font-size: 16px;
  color: #041f60;
  text-decoration: none;
  margin-right: 15px;
  padding: 8px 12px;
  background-color: #b4f5f0;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.link:hover {
  background-color: #fecf01;
  color: #041f60;
}

.active {
  background-color: #fecf01;
  color: #041f60;
  border: 1px solid #041f60;
  font-weight: bold;
}
