.container {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  width: 750px;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  font-size: 1rem;
  color: #333;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}

.positiveRate {
  color: #4caf50;
  font-weight: bold;
}
