.table {
  border-collapse: collapse;
  width: 75%;
  margin: 50px auto;
  font-size: 20px;
  font-weight: 500;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
}

.tableHead {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.tableRow {
  text-align: center;
}

.tableRow:nth-of-type(even) {
  background-color: #c5c3c3;
}

.typeColumn {
  text-transform: capitalize;
}
