.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

.label {
  color: #494d5f;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  border: 2px solid #d0bdf4;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  border-color: #a0d2eb;
}

.error {
  color: #8458b3;
  font-size: 14px;
}

.btn {
  background-color: #8458b3;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 40px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn:hover {
  background-color: #a0d2eb;
  transform: scale(1.05);
}

.link {
  color: #d0bdf4;
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.link:hover,
.link:active {
  color: #a0d2eb;
  transform: scale(1.05);
}

.cta {
  color: #8458b3;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cta:hover,
.cta:focus {
  color: #d0bdf4;
}
