.userMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.welcomeText {
  font-size: 16px;
  color: #a0d2eb;
}

.logout {
  background-color: #8458b3;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.logout:hover {
  background-color: #a0d2eb;
  transform: scale(1.05);
}
