.userMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.welcomeText {
  font-size: 16px;
  color: #a0d2eb;
}

.logout {
  background-color: #8458b3;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.logout:hover {
  color: #a0d2eb;
  transform: scale(1.05);
  border: 1px solid #a0d2eb;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
