.userMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.welcomeText {
  font-size: 16px;
}

.signUp {
  background-color: #8458b3;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.signUp:hover {
  background-color: #a0d2eb;
  transform: scale(1.05);
}
